@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bitter:ital,wght@0,100..900;1,100..900&family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
 themes: dark --default
}
@plugin "daisyui/theme" {
  default: true;
  --color-primary: #B2A5FF;
  --color-secondary: #FFF2F2;
  --color-secondary-content: #E5E0FF;
  --color-accent : #C7C8CC
}

h1,h2,h3,h4,h5,h6 , .bit{
  font-family: "Bitter", serif;
}

* {
      font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}